.row
	.col-sm-8
		h2.pull-left.top Issues
	.col-sm-4
		.btn-group.pull-right
			button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown") created&nbsp;
				span.caret
			ul.dropdown-menu(role="menu")
				li
					a priority
				li
					a updated
hr
.panel-group(id="accordion")
	each issue in resource.issues
		.panel.panel-default
			.panel-heading(class="priority-"+issue.fields.priority.id)
				if issue.fields.priority.id == 10
					.glyphicon.glyphicon-fire
				h4.panel-title
					strong= issue.key + " "
					= issue.fields.summary
					a(data-toggle="collapse" ,data-parent="#accordion" href="#collapse-"+issue.id).glyphicon.glyphicon-chevron-down.pull-right
					span.label.label-light.pull-right= issue.fields.issuetype.name.toLowerCase()
					//- span.label.label-primary.pull-right= issue.fields.issuetype.name.toLowerCase()
			.panel-collapse.collapse(id="collapse-"+issue.id)
				.panel-body
					if issue.fields.description
						h6 Description
						p= issue.fields.description