.navbar{
    border-radius: 0;
    height: 44px;
    padding: 0;
    min-height: 44px;
}

.navbar-brand{
    height: 44px;
    padding: 10px;
}

h2.top{
    padding:0;
    margin:0;
}


.task-list{
    list-style:none;
    padding:0;
    margin:0;
}

.task-list li{
    list-style:none;
    text-indent:0;
    padding:0;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px #ccc solid;
}

.navbar-brand{
    margin-left: -10px !important;
}

.panel-title{
    font-size:15px;
}


.priority-5,
.priority-low{
    border-left: 10px #18bc9c solid !important;
}

.priority-4,
.priority-medium{
   border-left: 10px #f39c12 solid !important;
}

.priority-3,
.priority-high{
    border-left: 10px #e74c3c solid !important;
}

.priority-10,
.priority-blocker{
    border-left: 10px #000 solid !important;
}

.priority-critical {
    border-left: 10px red solid !important;
}

.priority-trivial {
    border-left: 10px #3498db solid !important;
}

.panel-body h6{
    margin:0;
    padding:0;
    border-bottom: 1px #eee solid;
    padding-bottom:10px;
    margin-bottom:10px;
    font-size:10px;
    text-transform:uppercase;
    font-weight:bold;
}

.panel-title{
    height: 15px;
}

.panel-title strong{
    margin-right: 10px;
    float: left;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    margin-left: -5px;
    color: #95a5a6;
}
.panel-title span.truncate{
    float:left;
    max-width: 60%;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-title span.truncate a{
    color: #2c3e50;
}


.panel-title span.truncate a:hover{
    text-decoration:underline;
}

.panel-title a{
    text-decoration:none;

}


.panel-title span.name{
    float:left;
    font-weight:bold;
    font-size:14px;
    padding-right:10px;
}

@-webkit-keyframes fire {
    0%   {color: #FFDE00;}
    10%  {color: #FFB700;}
    20%  {color: #FF6900;}
    30%  {color: #FF0300;}
    40%  {color: #400900; }
    50%  {color: #FF0300; }
    60%  {color: #FF6900; }
    70%  {color: #FFB700; }
    80%  {color: #FFDE00; }
    90%  {color: #FFB700; }
    100%  {color: #FF6900; }
}

.panel .label.label-light{
    background:#fff;
    color: #95a5a6;
    font-weight:300;
    margin-right:10px;
}

.panel .glyphicon-fire{
    margin-left: -5px;
    padding-right: 10px;
    float: left;
    -webkit-animation: fire 2s infinite;
}


.status-resolved,
.status-closed,
.status-done{
    opacity: 0.4;
}

.status-resolved span,
.status-closed span,
.status-done span{
    text-decoration:line-through;
}
